@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-image: url("./assets/bg.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #023047;
}
